* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
}

html {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth; /*untuk memberikan efek halus saat berpindah halaman*/
}

body {
    margin: 0px;
    padding: 0px;
}

.layar-dalam {
    width: 1000px;
    margin: auto;
}

.layar-penuh {
    width: 100%;
}

nav {
    z-index: 100;
    color: white;
    text-align: center;
    position: fixed;
    line-height: 50px;
    width: 100%;
    transition: background-color 0.5s ease;
}

nav.putih {
    background-color: white;
}

nav .logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
}

nav .logo img {
    vertical-align: middle;
    width: 350px;
}

nav .menu {
    float: right;
    height: 90px;
    max-width: 600px;
}

nav .menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 60px;
}

nav ul li a {
    color: #ffffff;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    border-bottom: 4px solid;
}


/* pengaturan header */
header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden; /* menghilangkan sisa */
    z-index: 2;
}

header video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
}

header .intro {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
}

header .intro h3 {
    font-size: 52px;
    margin: 0;
    padding: 0;
}

/* button animation */
button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
  
button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
  
button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}
  
button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
  
@keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
}
  
button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 50%;
    z-index: -1;
}

/*buat garis tiga*/
.tombol-menu {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 25px;
}

.tombol-menu .garis {
    height: 3px;
    background-color: #fff;
}

section {
    padding: 50px 0px 50px 0px;
}

section h3 {
    font-size: 30px;
}

section h3::after {
    content: "";
    border-bottom: 5px solid #000000;
    width: 100px;
    display: block;
    margin: 20px auto;
}

#aboutus,
#team,
#gallery {
    text-align: center;
}

section p.ringkasan {
    font-size: 18px;
    color: #ababab;
}

#about-us {
    text-align: center;
    padding: 20px;
}
  
.about-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.about-content {
    flex: 1;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
}

.about-content:hover {
    background-color: #eaeaea;
    transition: background-color 0.3s ease;
}
  
.about-image {
    flex: 1;
    padding: 20px;
}
  
.about-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
}
  
@media screen and (max-width: 768px) {
    .about-container {
      flex-direction: column;
}
  
.about-content,
.about-image {
      flex: none;
    }
} 

nav.putih { /*berguna jika digabungkan dengan js*/
    background-color: grey;
}

nav.putih .tombol-menu .garis {
    background-color: #333;
}

nav.putih ul li a {
    color: #333;
}

footer {
    padding: 40px 0px 40px 0px;
    background-color: #343a34;
    color: #fff;
}

footer .layar-dalam {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .layar-dalam div {
    width: 20%;
}

footer .layar-dalam div img{
    vertical-align: middle;
    width: 350px;
}

footer .layar-dalam h5 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}

footer .layar-dalam .copyright {
    width: 100%;
    margin-top: 10px;
    padding-top: 5px;
    
    text-align: center;
}

@media screen and (max-width: 768px) {
    footer .layar-dalam {
      flex-direction: column;
      align-items: center;
    }
  
    footer .layar-dalam div {
      width: 100%;
      margin-bottom: 10px;
    }
}
  

@media screen and (max-width: 991.98px) {
    .layar-dalam {
        width: 90%;
    }
    nav .menu ul { /*memberi pengaturan tampilan menu responsive*/
        display: none;
        margin-top: 110px;
        position: absolute;
        top: 0;
        left: 0px;
        width: 100%;
    }
    nav .menu ul li {
        width: 100%;
        border-bottom: 1px solid #ccc;
        background-color: #ffffff;
        line-height: 50px;
    }
    nav .menu ul li a {
       color: #333;  
    }
    .tombol-menu {
        display: flex;
    }
}

/* pengaturan kolom ourteam */
.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.team-card {
    width: 160px;
    padding: 35px;
    margin: 10px;
    text-align: center;
    background-color: #091224;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
.team-card img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 70%;
}
  
@media screen and (max-width: 540px) {
    .team-card {
      width: 100%;
      margin: 10px 0;
    }
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 23px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 10px;
}

.team-card h3 {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 5px;
}

.team-card p {
    color: #ffffff;
    padding: 10px 0;
}

.team-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

#contact {
    width: 100%;
}

#contact p {
    margin: 2px 0 10px 0;
}

#detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#left {
    margin-right: 20px;
}

#right {
    width: 100%;
}

#gallery {
    text-align: center;
    padding: 40px;
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
}
  
.gallery-container {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
  
.gallery-item {
    width: 200px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;

}

.gallery-item:hover {
    transform: scale(1.05);
}
  
.gallery-item img {
    width: 100%;
    height: auto;
} 
